@mixin contact_containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

#contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 300px;
    grid-gap: 50px;
    padding: 50px 10px;

    .contact_title {
        color: $font-color;
        font-size: 65px;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        justify-self: center;
    }

    .contact_reservation-container {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        @include contact_containers();

        .contact_reservation {
            font-size: 40px;
            color: $font-color;
        }
    }

    .contact_map-container {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        @include contact_containers();

        img {
            width: 330px;
            height: auto;
            border-radius: 50%;
            border: 1px solid black;
        }
    }

    .contact_events-container {
        grid-row: 3 / 4;
        grid-row: 2 / 3;
        @include contact_containers();

        .contact_events {
            font-size: 40px;
            color: $font-color;
        }
    }
}

.contact_mail {
    text-align: center;
    margin: 15px 0;
    position: relative;

    a {
        text-decoration: none;
        color: $font-color;
        font-size: 20px;
    }

    &:before {
        content: "";
        height: 25px;
        width: 35px;
        display: inline-block;
        position: absolute;
        background-image: url("../photos/message2.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        left: -50px;
        top: 0;
    }
}
.contact_number {
    text-align: center;
    margin: 20px 0;
    position: relative;

    a {
        text-decoration: none;
        color: $font-color;
        font-size: 20px;
    }

    &:before {
        content: "";
        height: 28px;
        width: 35px;
        display: inline-block;
        position: absolute;
        background-image: url("../photos/phone2.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        left: -10px;
        top: -5px;
    }
}

@media (max-width: 870px) {
    #contact {
        grid-template-columns: 1fr;
        grid-template-rows: 60px repeat(3, 210px);
        grid-gap: 60px;

        .contact_title {
            font-size: 55px;
        }

        .contact_title {
            grid-column: 1 /2;
            grid-row: 1 / 2;
        }

        .contact_reservation-container {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }

        .contact_map-container {
            grid-column: 1 / 2;
            grid-row: 3 / 4;

            img {
                width: 260px;
            }
        }

        .contact_events-container {
            grid-column: 1 / 2;
            grid-row: 4 / 5;
        }
    }

    .contact_reservation {
        font-size: 35px;
    }

    .contact_events {
        font-size: 35px;
    }

    .contact_mail a {
        font-size: 18px;
    }

    .contact_number a {
        font-size: 18px;
    } 
}