@import './reset.scss';
@import './variables.scss';
@import './scroll-down.scss';

//overflow do zmiany 
html {
    scroll-behavior: smooth;
}

body {
    background-color: $main-bgc;
    overflow-x: hidden;
}

//header
@import './header.scss';

//menu
@import './menu.scss';

// contact
@import './contact.scss';

// footer
@import './footer.scss';